<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="uf-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="estilo.css">
    </head>

    <body class="fundo">
        <form>
            <div>
                <label><b>Email:</b></label>
                <input type="email" name="email" placeholder="Digite seu email aqui"/>
            </div>
            
            <div>
                <label><b>Senha:</b><br></label>
                <input type="password" name="password"/>
            </div>
            
            <div>
                <button type="button" onclick="" id="entrar">Entrar</button>
            </div>
            
        </form>
    </body>

</html>